CREATE DATABASE [Expense_DB]

USE [Expense_DB]
GO
/****** Object:  Table [dbo].[ManageUser]    Script Date: 11-07-2025 12:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Password] [varchar](50) NULL,
	[UserType] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Mst]    Script Date: 11-07-2025 12:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Mst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Image] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[RentDate] [datetime] NULL,
	[Ammount] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 11-07-2025 12:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ManageUser] ON 

INSERT [dbo].[ManageUser] ([Id], [Name], [Email], [PhoneNumber], [Password], [UserType], [IsActive], [CreatedDate]) VALUES (1, N'Santosh Dash', N'santosh@example.com', N'9876543210', N'Pass@123', 1, 1, CAST(N'2025-06-30T23:28:52.820' AS DateTime))
INSERT [dbo].[ManageUser] ([Id], [Name], [Email], [PhoneNumber], [Password], [UserType], [IsActive], [CreatedDate]) VALUES (2, N'Priya Sharma', N'priya.sharma@example.com', N'9123456780', N'Priya#2025', 2, 1, CAST(N'2025-06-30T23:28:52.820' AS DateTime))
INSERT [dbo].[ManageUser] ([Id], [Name], [Email], [PhoneNumber], [Password], [UserType], [IsActive], [CreatedDate]) VALUES (3, N'Rahul Verma', N'rahulv@example.com', N'9012345678', N'Rahul@2025', 2, 1, CAST(N'2025-06-30T23:28:52.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[ManageUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Room_Mst] ON 

INSERT [dbo].[Room_Mst] ([Id], [Name], [Image], [Address], [RentDate], [Ammount], [IsActive], [CreatedDate]) VALUES (1, N'Sai Residency', N'room1.jpg', N'Plot-22, Saheed Nagar, Bhubaneswar', CAST(N'2025-06-01T00:00:00.000' AS DateTime), CAST(8500.00 AS Decimal(18, 2)), 1, CAST(N'2025-06-30T11:58:19.940' AS DateTime))
INSERT [dbo].[Room_Mst] ([Id], [Name], [Image], [Address], [RentDate], [Ammount], [IsActive], [CreatedDate]) VALUES (2, N'Sunrise Lodge', N'room2.jpg', N'Patia Main Road, Bhubaneswar', CAST(N'2025-06-15T00:00:00.000' AS DateTime), CAST(7500.00 AS Decimal(18, 2)), 1, CAST(N'2025-06-30T11:58:19.940' AS DateTime))
INSERT [dbo].[Room_Mst] ([Id], [Name], [Image], [Address], [RentDate], [Ammount], [IsActive], [CreatedDate]) VALUES (3, N'Blue Horizon', N'room3.jpg', N'Near KIIT Campus, Bhubaneswar', CAST(N'2025-06-10T00:00:00.000' AS DateTime), CAST(9200.00 AS Decimal(18, 2)), 1, CAST(N'2025-06-30T11:58:19.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[Room_Mst] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([Id], [Role], [IsActive], [CreatedDate]) VALUES (1, N'Admin', 1, CAST(N'2025-06-30T11:51:20.587' AS DateTime))
INSERT [dbo].[UserType] ([Id], [Role], [IsActive], [CreatedDate]) VALUES (2, N'Employee', 1, CAST(N'2025-06-30T11:51:20.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
ALTER TABLE [dbo].[ManageUser] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageUser] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Room_Mst] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Room_Mst] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
